.navbar-text {
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.col-sm-6 {
  text-align: left;
  font-size: 20px;
}

.jumbotron {
}

#sys {
  text-align: center;
  font-size: 30px;
}

#arch {
}

#type {
}

#plat {
}

#rel {
}
